@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*============= ALL FONTS =============*/
@font-face {
    font-family: 'Bellota-LightItalic';
    src: url('assets/fonts/Bellota-LightItalic.ttf');
}
@font-face {
    font-family: 'Bellota-BoldItalic';
    src: url('assets/fonts/Bellota-BoldItalic.ttf');
}
@font-face {
    font-family: 'Bellota-Bold';
    src: url('assets/fonts/Bellota-Bold.ttf');
}
@font-face {
    font-family: 'JetBrainsMono-Bold';
    src: url('assets/fonts/JetBrainsMono-Bold.ttf');
}
@font-face {
    font-family: 'JetBrainsMono-Regular';
    src: url('assets/fonts/JetBrainsMono-Regular.ttf');
}

body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
  background-color: gray;
}

/*--- Nav Scrolling Offset --*/
.offset:before {
  height: 4rem;
  margin-top: -4rem;
  content: "";
  display: block;
}

/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
  padding: 1rem;
}

/*============= REGISTER FORM =============*/

#fixed {
  background-image: url('assets/images/background.jpg');
  z-index: -1;
}
.center {
    text-align: center;
    align-items: center;
    justify-content: center;
}
#container-prop {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 2rem;
  margin: 2rem auto;
  border-top: .2rem solid #5EAADA;
  box-shadow: 0 0 .8rem rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  backdrop-filter: blur(5px);
}
.control {
    margin: 0 auto;
    max-width: 499px;
}
.control h3{
    font-family: 'Bellota-BoldItalic', sans-serif;
    color: white;
    text-transform: uppercase;
    text-shadow: .1rem .1rem .8rem black;
    margin: 2rem 0 2.4rem 0;
    text-align: center;
    border-bottom: .1rem solid white;
}
.control label{
    font-family: 'JetBrainsMono-Regular', sans-serif;
    color: white;
    text-shadow: .1rem .1rem 1rem black;
}
.fa-layers svg.svg-inline--fa{
    color: #5EAADA;
}
.btn-lg {
  font-family: 'Bellota-BoldItalic', sans-serif;
  border-width: medium;
  border-radius: 0;
  padding: .8rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block!important;
}
#ibtn-lg{ /*-- button add extra margin --*/
  margin: 1rem;
}
a.signin,
a.signup {
    text-decoration: none;
    color: #5EAADA;
}
a.signin:hover,
a.signup:hover {
    text-decoration: none;
    color: #5194be;
}
.spinner-border {
    color: white;
    position: absolute;
    margin: 332px auto;
    opacity: .75
}
/*--- Input Fields --*/
.form-control {
  background-color: white;
  border-radius: 0;
  border: .12rem solid #8b8b8b;
  color: black!important;
  font-size: 1.1rem;
}
.form-control:focus {
  background: white;
  border: .15rem solid #487dbb;
}
.form-group input::placeholder {
  color: #a3a3a3!important;
}
input.btn {
  cursor: pointer;
}
/*--- Login and Register Wrapper --*/
.register__wrapper {
    display: none;
}

/*============= NAVIGATION =============*/

.navbar {
  font-family: 'Bellota-Bold', sans-serif;
  padding: .7rem 1rem;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 700px;
  letter-spacing: .1rem;
  transition: background-color .5s ease 0s;
}
.navbar-brand img {
  height: 2rem;
}
.svg-inline--fa.fa-w-14 {
  color: white;
  font-size: 1.6rem;
}
.navbar-nav li {
  padding: 0 3rem 0 3rem;
  border: 1px solid red;
}
.navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}
.navbar-nav .nav-link .active,
.navbar-nav .nav-link :hover {
  color: #5EAADA;
}
.navbar.solid {
  background: rgba(0, 0, 0, 0.7)!important;
  transition: background-color 1s ease 0s;
}
.navbar-nav  .heading-underline {
  width: 100%;
  height: .2rem;
  background-color: #1EBBA3;
}





/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
